## Software Packages

We will be using a wide range of different R software packages. To install and manage these packages we will be using the Conda environment manager. The following is a list of packages we will routinely use in lectures and homeworks:

In [3]:
library(ggplot2)
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ lubridate 1.9.3     ✔ tibble    3.2.1
✔ purrr     1.0.2     ✔ tidyr     1.3.1
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [9]:
?read.csv

In [22]:
majors = readr::read_csv(file = '../data/lec01/majors.csv', show_col_types = FALSE)
names = readr::read_csv(file = '../data/lec01/names.csv', show_col_types = FALSE)

In [23]:
head(majors, n = 20)
head(names)

   Majors                                                  Terms in Attendance
1  Letters & Sci Undeclared UG                             3
2  Data Science BA                                         7
3  Economics BA                                            8
4  Letters & Sci Undeclared UG                             5
5  Economics BA                                            7
6  Computer Science BA, Economics BA                       7
7  Business Administration BS, Letters & Sci Undeclared UG 5
8  Letters & Sci Undeclared UG                             5
9  Microbial Biology BS                                    5
10 Letters & Sci Undeclared UG                             8
11 Letters & Sci Undeclared UG                             3
12 Letters & Sci Undeclared UG                             5
13 Data Science BA, Society and Environment BS             5
14 Letters & Sci Undeclared UG                             3
15 Letters & Sci Undeclared UG, Microbial Biology BS       5
16 Letters & Sci Undeclared UG, Nutritional Science BS     5
17 Letters & Sci Undeclared UG                             3
18 Chemistry BS                                            5
19 Applied Mathematics BA                                  7
20 Letters & Sci Undeclared UG                             3

  Name     Role
1 Emily    Student
2 Zoe      Student
3 Michelle Student
4 JAMES    Student
5 Jenny    Student
6 James    Student

In [30]:
names[['Name']] = tolower(names[['Name']])

In [32]:
head(names)

  Name     Role
1 emily    Student
2 zoe      Student
3 michelle Student
4 james    Student
5 jenny    Student
6 james    Student